# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/pipefy-client-manager

# Database
*.db
*.sqlite

# Test artifacts
*.test
*.out
coverage.html

# Environment
.env
.env.*

# Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
